<div class="alert alert-warning" role="alert" style="text-align: center;">
  Website นี้จัดทำขึ้นเพื่ออำนวยความสะดวกในการคำนวณสภาวะสุขภาพโดยใช้หลักการ ปิงปองจราจร 7 สี ของศาสตราจารย์พิเศษ ดร.นายแพทย์ วิชัย เทียนถาวร
</div>

<div style="text-align: center;">
  <button type="button" class="btn btn-secondary" [routerLink]="['/calculate']">คำนวณสภาวะสุขภาพ</button>
</div>

<br>

<div style="text-align: center;">
  <button type="button" class="btn btn-info" [routerLink]="['/whatis77tt']">ปิงปอง 7 สีคืออะไร?</button>
</div>
